<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuyongdi.basetool">

    <application>

        <provider
            android:name=".function.screen_adaption_ctx.XXInitProvider"
            android:authorities="${applicationId}.autosize-init-provider"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".function.permission.XXPermissionActivity"
            android:launchMode="standard"
            android:theme="@style/XXPermissionActivityTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

    </application>

</manifest>
